html{
    font-family: monospace;

    padding-bottom: 10px;
    margin: 20px;
}
body{
    background-color: rgb(248, 248, 248);
}
#frame{
    background-color: bisque;
    border-radius: 25px;

    height: 700px;
    margin: 100px;
    outline: 1px solid rgb(184, 184, 184);
    
    padding-bottom: 15px;
    padding-top: 5px;
}
h1{
    font-family: 'Copperplate', fantasy;
    text-align: center;
    font-size: 50px;

    padding-top: 10%;
}
p{
    font-family: 'Copperplate', fantasy;
    text-align: center;
}
#formBox{
    outline: 1px solid rgb(233, 191, 140);
    background-color: rgb(236, 206, 170);
    border-radius: 25px;

    padding-bottom: 15px;
    padding-top: 10px;

    margin: 10px;
    margin-left: 35%;
    margin-right: 35%;
}
#submit{
    font-family: 'Copperplate', fantasy;
    font-size: 20px;

    margin-top: 15px;;
    margin-left: 42%;
}
.input{
    margin-top: 10px;
}